/** This is for testing **/
img{
    width:200px;
    height:auto;
}

* {
    font-family: Verdana, sans-serif;
}
/** Declaring display: flex; **/
body,
.header,
.header-links,
.main,
.main-text,
.info,
.images,
.info-image,
.testimonial,
.cta,
.cta-window,
.cta-window-text,
.footer{
    display: flex;
}

body,
.main-text,
.info,
.info-image,
.testimonial,
.cta-window-text{
    flex-direction: column;
}

/** Size, spacing and placement **/
body {
    margin: 0;
    min-height: 100vh;
    justify-content: space-between;
}

.header {
    justify-content: space-between;
}

.header-links {
    gap: 30px;
}

.main {
    justify-content: space-between;
    gap: 50px;
}

.main img{
    flex-grow: 1;
    max-height: 200px;
}

.info {
    align-self: center;
    align-items: center;
    gap: 40px;
}

.images {
    gap: 40px;
}

.info-image {
    align-items: center;
    width: min-content;
    gap: 7px;
}

.info-image span {
    text-align: center;
}

.testimonial {
    align-items: center;
}

.testimonial div {
    display: flex;
    flex-direction: column;
}

.testimonial-text {
    align-self: flex-start;
}

.testimonial-signature {
    align-self: flex-end;
}

.cta {
    align-self: center;
    gap: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: space-between;
    padding: 4%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #3882f6;
    border-radius: 8px;
}

.cta-title,
.cta-text{
    width:max-content
}

.footer {
    align-self: center;
    padding: 30px;
    padding-left: 100vmax;
    padding-right: 100vmax;
}

.footer-text {
    width: max-content
}

.main-text {
    max-width: 40ch;
    gap: 20px;
}

.main-text button,
.cta button {
    width: fit-content;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

/** Font and color**/

.container-darkblue {
    padding: 15%;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #1f2937;
}

.container-white {
    padding: 15%;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #ffffff;
}

.container-gray {
    padding: 15%;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #e5e7eb;
}

.footer {
    background-color: #1f2937;
}

.main-text .subtitle,
.header-link a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}

.main-text .title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.info .title {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.testimonial-text {
    color: #1f2937;
    font-size: 36px;
    font-family: 'Open Sans Light';
    font-style: italic;
    font-weight: lighter;
}

.info-image img{
    border-color: #3882f6;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
}

.main-text button {
    border-radius: 10px;
    background-color: #3882f6;
    border-style: none;
    color:#f9faf8;
    font-weight: bold;
}

.cta-title {
    font-size: 20px;
    font-weight: bold;
    color: #f9faf8;
}

.cta-text {
    color:#f9faf8;
}

.cta button {
    background-color: #3882f6;
    border-radius: 10px;
    color: #f9faf8;
    border-color: #f9faf8;
    border-style: solid;
    font-weight: bold;
}

.footer-text {
    color: #f9faf8;
}

.testimonial-signature {
    font-weight: bold;
    color: #1f2937;
}